html, body {
	color: white;
	font-family: 'Quicksand', sans-serif;	
  	position: relative;
  	width: 100%;
  	height: 100%;
  	padding: 0;
  	margin: 0;	
  	background-color: #00dce6;
}

/*navbar*/
.navbar {
	background-color: #00dce6;	
}

a:link {
	color: green;  
}

a:hover {
    color: white;   
	background-color: red;	  
}

/* MEH
a:active {
	color: black;	
}
*/

section {
	display: block;
	width: 100%;
	height: 100%;
}

footer {
  	padding: 0.5rem;	
	color: black;
	text-align: center;
	background-color: white;
}



/*menu cupcakes*/

#image {
	float: left;
	width: 35%;
}


h4 {
    text-align: center;
}

.box p {
	text-align: center;
}

.box {
	padding-left: 75px;
}	

.cc {
	float: left;
	width: 35%;	
}

